rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read/write their own user document
    match /specific_users/{uid} {
      allow read, write: if request.auth.uid == uid;
    }
    
    // Allow authenticated users to create user documents on first sign-in
    match /users/{document=**} {
      allow create: if request.auth != null;
    }
  
   // Default deny all other access
    match /{document==**} {
      allow read, write: if false;
    }
  }
}
